* {
  border: none;
  border-radius: 0;
  font-family: Space Mono Nerd Font;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #ebdbb2;
}

tooltip {
  background: #1d2021;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #020B2B;
}

#workspaces button {
  padding: 5px;
  color: #ebdbb2;
  margin-right: 5px;
}

#workspaces button.active {
  color: #ebdbb2;
}

#workspaces button.focused {
  color: #ebdbb2;
  background: #1d2021;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #ebdbb2;
  background: #1d2021;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #1d2021;
  color: #ebdbb2;
  border-radius: 8px;
  border: 0;
}

custom-language, #custom-updates, #custom-caffeine, #custom-power, #clock, #battery, #pulseaudio, #network, #workspaces, #tray, #backlight {
  background: #1d2021;
  padding: 0px 10px;
  margin: 3px 0px;
}

#tray {
  border-radius: 10px;
  margin-right: 5px;
  margin-top: 10px;
}

#workspaces {
  background: #1d2021;
  border-radius: 10px;
  padding-right: 0px;
  padding-left: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#custom-caffeine {
  color: #ebdbb2;
}

#custom-language {
  color: #ebdbb2;
}

#custom-updates {
  color: #ebdbb2;
}

#clock {
  color: #ebdbb2;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

#network {
  color: #ebdbb2;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#pulseaudio {
  color: #ebdbb2;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#battery{
  color: #ebdbb2;
  margin-top: 10px;
}

#backlight{
  color: #ebdbb2;
  margin-top: 10px;
}

#window{
  color: #ebdbb2;
  margin-bottom: 10px;
  padding: 0px 10px;
  background: #1d2021;
  border-radius: 10px;
  margin-top: 3px;
}
